
@font-face {
    font-family: 'NEXON Lv1 Gothic OTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {font-size: 68px;}
span {font-size: 18px;}
.rec { position: relative;
    text-align:left;
    color: black;
    position: absolute;
    width: 500px;
    height: 100px;
    top: 8%;
    left: 51.5%;
    transform: translate(-50%, -50%);
    margin-left:-519px;

}
.rec2 { position: relative;
    text-align:left;
    color: black;
    position: absolute;
    width: 500px;
    height: 100px;
    top: 8%;
    left: 144.7%;
    transform: translate(-50%, -50%);
    margin-left:-519px;
}
header {
   margin-left: 480px;
   
   font-family: 'NEXON Lv1 Gothic OTF'; 
    height: 40px;
    padding: 1rem;
    color: black;
    background: white;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    }

   
  
  
  .container {
    
    font-family: 'NEXON Lv1 Gothic OTF';
    font-size:80px; 
    letter-spacing: -3px;
    position: relative;
    text-align: center;
    color: black;
    margin-top:36px;
    margin-left: 15px;
    margin-right: 15px;
    
  }
  
  .centered {
    transition: all 0.2s linear;
    transform: scale(1.4);
    position: absolute;
    width: 500px;
    height: 100px;
    top: 30%;
    left: 45.5%;
    margin-left:139px;
    font-size: 80%;
    
    
    
  }
  .centered:hover {
    
    transform:scale(1.3);
  transition: transform .5s;
  }
  
 
  
  
  .con{
    font-family: 'NEXON Lv1 Gothic OTF';
    font-size:18px; 
    letter-spacing: 0px;
    position: relative;
    text-align:left;
    color: black;
    position: absolute;
    width: 500px;
    height: 100px;
    top: 56%;
    left: 52%;
    transform: translate(-50%, -50%);
    margin-left:300px;
    line-height: 25px;
  }
  .song{font-family: 'NEXON Lv1 Gothic OTF';
    font-size:18px; 
    letter-spacing: 0px;
    position: relative;
    text-align:left;
    color: black;
    position: absolute;
    width: 500px;
    height: 100px;
    top: 70%;
    left: 52%;
    transform: translate(-50%, -50%);
    margin-left:300px;
    line-height: 25px;

  }
  .line{ 
    position: relative;
    text-align:left;
    color: black;
    position: absolute;
    width: 500px;
    height: 100px;
    top: 16%;
    left: 52%;
    transform: translate(-50%, -50%);
    margin-left:300px;
    
  }

  h1{
    font-family:  'NEXON Lv1 Gothic OTF';
    font-size: 50px;
    margin-left:690px;
  }
  